{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>The Boyle Broth</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/skeleton.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<style>
	#bg {
	  position: fixed; 
	  top: -50%; 
	  left: -50%; 
	  width: 200%; 
	  height: 200%;
	}
	#bg img {
	  position: absolute; 
	  top: 0; 
	  left: 0; 
	  right: 0; 
	  bottom: 0; 
	  margin: auto; 
	  min-width: 50%;
	  min-height: 50%;
	}
	#splash{
		position: relative;
		margin-top: 230px;
		color: white;
	}
		#splash h1{
			margin-bottom: 4px;
		}
		#splash input{
			margin-bottom: 6px;
			width: 100%;
		}
</style>
<body>

<div id="bg">
	<img src="{% static 'images/1_scaled.jpg' %}" alt="">
</div>
<div id='header'>
	<div class='container'>
		<div class='four columns'>
			<h2><a href='projects.html'>ProjectPond</a></h2>
		</div>
		<div class='three columns'>
			<input type="text" placeholder="Search here..." id="regularInput" />
		</div>
		<div class='four columns nav'>
			<ul>
				<li><a href='projects.html'>Projects</a></li>
				<li><a href='persons.html'>People</a></li>
			</ul>
		</div>
		<div class='five columns nav' id='registration'>
			<ul>
				<li><a href='#'>Signup</a></li>
				<li id="login">
					<a id="login-trigger" href="#">
						Login
					</a>                     
				</li>
			</ul>
		</div>
	</div>
</div>

<hr>

<div class='container' id='splash'>
	<div class='nine columns'>
		<h1>ProjectPond</h1>
		<h4>A bigger pond for bigger fish.</h4>
		<p>Finding talented people can be hard, especially on your own.  ProjectPond brings skilled people like you together to collaborate on projects of all shapes and sizes.  Tell us what you’re good at and we’ll help you find something to do.  Or share your project with the world and build the team that you need make your idea into a reality.  User Reviews and Peer Endorsements let you know you’re getting the best possible teammates and allow you to hold each other accountable. Best of all you don’t have to pay for anything when you sign up with a student email!</p>
	</div>
	<div class='six columns offset-by-one'>
		<h3>Register</h3>
		{% if registered %}
			<strong>Thanks for registering!</strong>
		{% else %}
		<form action="" method="post">{% csrf_token %}
			{{ user_form.as_p }}
			<input type="submit" value="Submit" />
		</form>
		{% endif %}
	</div>

</div>

</body>
</html>
