{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>The Boyle Broth</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/skeleton.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<style>
	#bg {
	  position: fixed; 
	  top: -50%; 
	  left: -50%; 
	  width: 200%; 
	  height: 200%;
	}
	#bg img {
	  position: absolute; 
	  top: 0; 
	  left: 0; 
	  right: 0; 
	  bottom: 0; 
	  margin: auto; 
	  min-width: 50%;
	  min-height: 50%;
	}
	#splash{
		position: relative;
		margin-top: 18%;
		color: white;
	}
		#splash h1{
			margin-bottom: 4px;
		}
		#splash input{
			margin-bottom: 6px;
			width: 100%;
		}
</style>
<body>

<div id="bg">
	<img src="{% static 'images/1_scaled.jpg' %}" alt="">
</div>
<div id='header'>
	<div class='container'>
		<div class='four columns'>
			<h2><a href='projects.html'>ProjectPond</a></h2>
		</div>
		<div class='three columns'>
			<input type="text" placeholder="Search here..." id="regularInput" />
		</div>
		<div class='four columns nav'>
			<ul>
				<li><a href='projects.html'>Projects</a></li>
				<li><a href='persons.html'>People</a></li>
			</ul>
		</div>
		<div class='five columns nav' id='registration'>
			<ul>
				<li><a href='#'>Signup</a></li>
				<li id="login">
					<a id="login-trigger" href="#">
						Login
					</a>                     
				</li>
			</ul>
		</div>
	</div>
</div>

<hr>

<div class='container' id='splash'>
	<div class='six columns offset-by-five'>
		<h3>Login</h3>
		<form action="" method="post">{% csrf_token %}
			{{ user_form.as_p }}
			<input type="submit" value="Submit" />
		</form>
	</div>
</div>

</body>
</html>
