<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>The Boyle Broth</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/skeleton.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<script>
	// By Chris Coyier & tweaked by Mathias Bynens

	$(function() {

		// Find all YouTube videos
		var $allVideos = $("iframe[src^='http://www.youtube.com']"),

		    // The element that is fluid width
		    $fluidEl = $(".project_element");

		// Figure out and save aspect ratio for each video
		$allVideos.each(function() {

			$(this)
				.data('aspectRatio', this.height / this.width)
				
				// and remove the hard coded width/height
				.removeAttr('height')
				.removeAttr('width');

		});

		// When the window is resized
		// (You'll probably want to debounce this)
		$(window).resize(function() {

			var newWidth = $fluidEl.width();
			
			// Resize all videos according to their own aspect ratio
			$allVideos.each(function() {

				var $el = $(this);
				$el
					.width(newWidth)
					.height(newWidth * $el.data('aspectRatio'));

			});

		// Kick off one resize to fix all videos on page load
		}).resize();

	});

	$(function() {
	  $('a[href*=#]:not([href=#])').click(function() {
	    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
	      var target = $(this.hash);
	      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
	      if (target.length) {
	        $('html,body').animate({
	          scrollTop: target.offset().top -225
	        }, 1000);
	        return false;
	      }
	    }
	  });
	});
</script>
<body>

<div id='header'>
	<div class='container'>
		<div class='four columns' id='site_name'>
			<h2><a href="{% static 'mockups/projects.html' %}">ProjectPond</a></h2>
		</div>
		<div class='three columns' id='search_box'>
			<input type="text" placeholder="Search here..." id="regularInput" />
		</div>
		<div class='four columns nav' id='buttons'>
			<ul>
				<li><a href="{% static 'mockups/projects.html' %}">Projects</a></li>
				<li><a href="{% static 'mockups/persons.html' %}" id='current'>People</a></li>
			</ul>
		</div>
		<div class='five columns nav' id='registration'>
			<ul>
				<li><a href='index.html'>Signup</a></li>
				<li><a href='login.html'>Login</a></li>
			</ul>
		</div>
	</div>
</div>

<hr>

<div class ='container' id='content'>
	<div class='sixteen columns' id='separator'><hr></div>

	<div class='sixteen columns clearfix item page' id='banner' style="background-image: url({% static 'images/4.jpg' %}); ">
		<div class='thirteen columns alpha' >
			<h2>{{ name }}</h2>
			<h4>Engineer</h4>
			<img src="{% static 'images/skill/engineer.png' %}"width='24px' height='24px'/>
			<h4>Rochester Institute of Technology</h4>
			<img src="{% static 'images/clipboard.png' %}"/>
			<h5 class='location'>{{ location }}</h5>
		</div>
		<div class='three columns omega clearfix' id='person'>
			<div class='two columns alpha'>
				<ul>
					<li><a href='#bio'>Bio</a></li>
					<li><a href='#skills'>Skills</a></li>
					<li><a href='#projects'>Projects</a></li>
					<li><a href='#reviews'>Reviews</a></li>
				</ul>
			</div>
			<div class='one column omega'>

				<img src="{% static 'images/pitch.png' %}"/>
				<img src="{% static 'images/description.png' %}"/>
				<img src="{% static 'images/team.png' %}"/>
				<img src="{% static 'images/team.png' %}"/>

			</div>
		</div>
	</div>

	<div class='sixteen columns title' id='bio'>
		<h2><a href='#bio'>Biography</a></h2>
	</div>
	<div class='twelve columns offset-by-two project_element'>
		<p> {{ bio }}</p>
	</div>

	<div class='sixteen columns title' id='skills'>
		<h2><a href='#skills'>Skills</a></h2>
	</div>
	<div class='twelve columns offset-by-two project_element'>
		{% for entry in team %}
		<h4>Skill: {{ entry.skill }}</h4>
		<h5> {{ entry.rank }} </h5>
		<h5> {{ entry.endorse }}</h5>
		{% endfor %}
	</div>

	<div class='sixteen columns title' id='projects'>
		<h2><a href='#projects'>Projects</a></h2>
	</div>
	<div class='twelve columns offset-by-two project_element'>
		{% for entry in projects %}
		<h4>Project: {{ entry.name }}</h4>
		<p> {{ entry.description }}</p>
		<h6><a href='{{ entry.url}}'>{{entry.name}}</a></h6>
		{% endfor %}
	</div>

	<div class='sixteen columns title' id='reviews'>
		<h2><a href='#reviews'>Reviews</a></h2>
	</div>
	<div class='twelve columns offset-by-two project_element'>
		{% for entry in rank %}
		<h4>{{ entry.stars }}</h4>
		<p> {{ entry.comment }}</p>
		{% endfor %}
	</div>
</div>

</body>
</html>